name: Validate DevOps Project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  validate:
    name: Validate Terraform, Kubernetes and Python
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install requirements
        run: |
          pip install -r requirements.txt

      - name: Lint Python
        run: |
          python -m py_compile $(git ls-files '*.py')

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init (no backend)
        run: terraform -chdir=terraform init -backend=false

      - name: Terraform Validate
        run: terraform -chdir=terraform validate

      - name: Install kubeconform
        run: |
          curl -LO https://github.com/yannh/kubeconform/releases/latest/download/kubeconform-linux-amd64.tar.gz
          tar -xzf kubeconform-linux-amd64.tar.gz
          sudo mv kubeconform /usr/local/bin/kubeconform

      - name: Validate Kubernetes manifests
        run: kubeconform -strict -summary k8s/


      - name: Done
        run: echo "Validation complete. For real deployment, run terraform apply manually."

