name: Validate DevOps Project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  validate:
    name: Validate Terraform, Kubernetes and Python
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install requirements
        run: |
          pip install -r requirements.txt

      - name: Lint Python
        run: |
          python -m py_compile $(git ls-files '*.py')

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init (no backend)
        run: terraform -chdir=terraform init -backend=false

      - name: Terraform Validate
        run: terraform -chdir=terraform validate

      - name: Install kubeval
        run: |
          curl -s https://api.github.com/repos/instrumenta/kubeval/releases/latest \
            | grep browser_download_url \
            | grep linux-amd64 \
            | cut -d '"' -f 4 \
            | wget -qi -
          chmod +x kubeval* && sudo mv kubeval* /usr/local/bin/kubeval

      - name: Validate Kubernetes Manifests
        run: kubeval k8s/*.yaml

      - name: Done
        run: echo "✔️ Validation complete. For real deployment, run terraform apply manually."

